<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" routerLink="/home"> accueille</ion-content>
  <ion-content class="ion-padding" routerLink="/sessions"> session</ion-content>
  <ion-content class="ion-padding" routerLink="/presentateur">
    presentation</ion-content
  >
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container" class="ion-padding">
      <h1 class="Blank">Conférence</h1>

      <p>date debut date fin</p>

      <ion-button routerLink="/sessions">Voir les sessions</ion-button>
      <ion-button routerLink="/presentateur">Voir les présentateurs</ion-button>
    </div>
  </ion-content>
</div>
